body{text-align:center;}
.content{width:980px;}
.fl{float:left}
.fr{float:right}
a{text-decoration:none;}
.clear{width: 0;height: 0;clear: both;overflow: hidden;}
.title{color:#663333;font-family:Comic Sans MS;font-weight:bold;font-size:30px}
/*header*/
#header .content{height:150px;background-image: -webkit-gradient(linear, left top, left bottom,from(#003300), to(#3D5C3D));/*Comic Sans MS漂亮的渐变色彩*/}
#header a{color:#FFFFFF;background-color:#CCCC99;padding:5px 20px;font-family:Comic Sans MS}
#header a:hover{color:#FFFFFF;background-color:#cccc66;padding:5px 40px;font-family:Tahoma}
.mylink{margin-top:100px;margin-left:150px}
.ml5{margin-left:-7px}
.brl{border-radius:10px 0px 0px 10px}
.brr{border-radius:0px 10px 10px 0px}
.touxiang{width:100px;border-radius:10px;margin:25px}
.name{font-family:impact;color:#FFFFFF;font-size:50px;padding-top:40px}


/*container*/
#container .content{margin-top:0px;border:2px solid #006633;height:750px;width:976px}
.content-txt{height:300px;margin-top:50px;margin-left:50px}
.work{border:1px solid #CC9966;text-align:center;background-color:#FFFFCC	;}
.table-title{font-weight:bold;color:#663333;background-color:#999966}
.work td{border:1px solid #CC9966;width:80px;height:30px}

.sudoku{margin-top:50px;font-size:20px;font-family:Comic Sans MS;font-weight:bold}
.sudoku a{color:#993300}
.sudoku a:hover{color:#336666}
.wh50{width:140px;height:140px}

.mt50{margin-top:50px}
.sudoku1{background-color:#FFFFCC;}
.sudoku2{background-color:#CCFFFF}
.sudoku3{background-color:#FFCCCC}
.sudoku4{background-color:#ccccff}
.sudoku5{background-color:#ccff66}
.sudoku6{background-color:#0099cc}
.sudoku7{background-color:#ff99cc}
.sudoku8{background-color:#99cccc}
.sudoku9{background-color:#99cc00}

.gallery{margin-top:50px;margin-right:50px}

.gallery-img{border:2px dotted #339999;border-radius:10px;}
.c-right-img{width:300px;padding:5px;border-radius:10px;}


.tip{width:310px;height:170px ;border:2px dotted #339999;border-radius:10px;margin-top:10px}
.tip-title{font-family:Comic Sans MS;color:#663333;font-weight:bold;padding:10px}

.next{font-family:Comic Sans MS;color:#663333;font-weight:bold;padding:5px 20px;background-color:#CCCC99;margin-top:10px;border-radius:10px}
/*footer*/
#footer .content{margin-top:0px;height:100px;background-image: -webkit-gradient(linear, left top, left bottom,from(#006633), to(#3D5C3D));}
.email{font-size:16px;color:#FFFFFF;padding-top:50px;font-weight:bold}

/*jian ru */

.LightSpeedIn {
	-webkit-animation: 1s ease-out backwards;
	-moz-animation: 1s ease-out backwards;
	-ms-animation: 1s ease-out backwards;
	animation: 1s ease-out backwards;
}
.LightSpeedIn {
	-webkit-animation-name: LightSpeedIn;
	-moz-animation-name: LightSpeedIn;
	-ms-animation-name: LightSpeedIn;
	animation-name: LightSpeedIn;
}
@-webkit-keyframes LightSpeedIn {
	0% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
	60% {
		-webkit-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: translateX(0%) skewX(-15deg);
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}
@-ms-keyframes LightSpeedIn {
	0% {
		-ms-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
	60% {
		-ms-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}
	80% {
		-ms-transform: translateX(0%) skewX(-15deg);
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}
	100% {
		-ms-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}
@-moz-keyframes LightSpeedIn {
	0% {
		-moz-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
	60% {
		-moz-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}
	80% {
		-moz-transform: translateX(0%) skewX(-15deg);
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}
	100% {
		-moz-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}
@keyframes LightSpeedIn {
	0% {
		transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
	60% {
		transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}
	80% {
		transform: translateX(0%) skewX(-15deg);
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}
	100% {
		transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}
